<ion-header>
    <ion-navbar transparent>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Your Services</ion-title>
    </ion-navbar>

</ion-header>
<ion-content padding>
    <!--<h2 class="header-title">Your Services</h2>
    <ion-grid>
        <ion-row>
            <ion-col col-12 (click)='gosignup()'><button class="g-back-bt"> <i class="fa fa-angle-left" aria-hidden="true"></i></button></ion-col>
        </ion-row>
    </ion-grid>-->

    <ion-grid>
        <ion-row>
            <ion-col col-12>
                <ion-list no-padding class="login-form-wrap">
                    <ion-item no-padding *ngIf="fbFlag=='true'">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <input type="text" [(ngModel)]="email" placeholder="Email" maxlength="100">
                    </ion-item>
                    <ion-item no-padding>
                        <i aria-hidden="true"><img src="assets/img/icon-10.png" alt=""></i>
                        <input type="text" [(ngModel)]="company_name" placeholder="Company name" maxlength="50">
                    </ion-item>
                    <ion-item no-padding>
                        <i aria-hidden="true"><img src="assets/img/icon-16.png" alt=""></i>
                        <input type="text" [(ngModel)]="company_reg_no" placeholder="Company registration number" maxlength="25">
                    </ion-item>
                    <ion-item no-padding>
                        <i aria-hidden="true"><img src="assets/img/icon-11.png" alt=""></i>
                        <input type="tel" [(ngModel)]="mobile" placeholder="Contact number"  maxlength="15">
                    </ion-item>
                    <ion-item no-padding (click)='getImageSource();'>
                        <i aria-hidden="true"><img src="assets/img/icon-12.png" alt=""></i>
                        <input type="text" [(ngModel)]="certificate" placeholder="Upload certificate and/or ACRA">
                    </ion-item>


                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>


    <ion-grid>
        <ion-row>
            <ion-col col-12>
                <div class="or-wrap">Please select your services</div>
            </ion-col>


            <ion-col col-12>
                <ion-row class="service-list">
                    <ion-col col-6 *ngFor="let cat of category">
                        <div class="service-list-box">
                            <ion-checkbox (ionChange)="updateService(cat.id)"></ion-checkbox>
                            <ion-label>{{cat.name}}</ion-label>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col col-12>
                <button class="sign-in-bt" type="" (click)='registration();'>Join Now</button>

            </ion-col>

            <ion-col col-12 (click)='openLink("http://iimafix.com/terms-use-mobile")'>
                <p class="terms-text">By signup you agree to our <a href="#"> terms & conditions</a></p>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
